#map {
    height: 250px;
    width: 100%;
}

header {
    width: 100vw;
    position: absolute;
    height: 11vh;
    background-color: #f9f069;
    top: 0;
}

.menu {
    display: none;
}

.fondo {
    position: absolute;
    transform: scaleX(-1);
    top: 10vh;
    width: 100vw;
    height: 8%;
}

.cuerpo {
    position: relative;
    text-align: center;
    margin-top: 50%;
}

.imagenConstruccion {
    width: 100%;
    background-size: cover;
    height: 180px;
}

.pie {
    color: white;
    text-align: right;
    margin-right: 10px;
    padding-bottom: 3px;
}

.imagenPie {
    position: absolute;
    bottom: 18px;
    width: 100vw;
    height: 8%;
}

footer {
    position: absolute;
    width: 100vw;
    bottom: 0;
    background-color: #258daf;
}

.logo {
    width: 70%;
    position: relative;
    top: -50px;
    display: inline-block;
}

* {
    margin: 0;
    padding: 0;
}
/*MODAL*/
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 20% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* Icon 1 */

#nav-icon1 {
    width: 15%;
    top: -148px;
    left: 25px;
    position: relative;
    display: inline-block;
    margin: auto 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

#nav-icon1 span {
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    background: #258daf;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
    top: 0px;
}

#nav-icon1 span:nth-child(2) {
    top: 18px;
}

#nav-icon1 span:nth-child(3) {
    top: 36px;
}

#nav-icon1.open span:nth-child(1) {
    top: 18px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
}

#nav-icon1.open span:nth-child(3) {
    top: 18px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}
/* FIN Icon 1 */
@media only screen and (max-width: 375px) and (min-width: 321px) {
    .logo{top:-65px}
    #nav-icon1{top:-179px}
}
@media only screen and (max-width: 425px) and (min-width: 376px) {
    .logo{top:-75px}
    #nav-icon1{top:-201px}
}
@media only screen and (max-width: 768px) and (min-width: 426px) {
    .logo{top:-83px;width: 40%}
    #nav-icon1 {top: -210px;width: 8%;left: 370px;}
    .imagenConstruccion{height: 300px;width: 70%}
    .cuerpo{margin-top: 17%;font-size: 20px;}
    .cuerpo h1{margin: 0}
}
@media only screen and (max-width:1025px) and (min-width: 769px) {
    .logo{top:-80px;width: 30%}
    #nav-icon1 { width: 5%; top: -200px; left: 640px;}
    .imagenConstruccion {height: 460px;width: 80%;}
    .pie{    font-size: 20px;}
    .cuerpo{margin-top: 17%;font-size: 30px;}
    .cuerpo h1{margin: 0}
}
@media only screen and (max-width:1450px) and (min-width: 1026px) {
    .logo{top:-120px;width: 30%}
    #nav-icon1 { width: 5%; top: -280px; left: 850px;}
    .imagenConstruccion {height: 400px;width: 70%;}
    .pie{    font-size: 20px;}
    .cuerpo{margin-top: 10%;font-size: 30px;}
    .cuerpo h1{margin: 0}
}
@media only screen and (max-width:1600px) and (min-width: 1451px) {
    .logo{top:-90x;width: 20%}
    #nav-icon1 { width: 4%; top: -240px; left: 1360px;}
    .imagenConstruccion {height: 460px;width: 80%;}
    .pie{    font-size: 20px;}
    .cuerpo{margin-top: 10%;font-size: 40px;}
    .cuerpo h1{margin: 0}
}
