@font-face { font-family: 'Arial Narrow', arial; src: url('http://allfont.es/allfont.css?fonts=arial-narrow'); } 
a, h2, label, input, button, h3, p, th,td {
    font-family: 'Arial Narrow', arial;
}
.footer{
    background-color: #258da5;
}
input::-webkit-input-placeholder {
    font-family: 'Arial Narrow', arial;
}

input:-moz-placeholder {
    font-family: 'Arial Narrow', arial;
}

input:-ms-input-placeholder {
    font-family: 'Arial Narrow', arial;
}
h2{
    text-align: center;
}
nav.navbar.navbar-inverse.navbar-fixed-top {
    position: relative;
    background-color: #f9f069;
    border-color: #f9f069;
    margin: 0;
    padding: 10px 10px 0px 10px;
}

.row {
    text-align: left;
    margin-right: 0;
    margin-left: 0;
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}

.navbar-right {
    margin-right: 0;
}

.navbar-toggle {
    position: absolute;
    right: 0;
}

.cabecera {
    position: relative;
    transform: scaleX(-1)
}

.logo {
    height: 25px;
}

.fondo {
    background-image: url(../img/img_fondo.jpg);
    background-size: cover;
}

.bloque >h2, .bloque >.row {
    text-align: center;
}

.bloque .container {
    background-color: #f6f6f6;
    text-align: center;
    padding-bottom: 15px;
    padding-top: 10px;
}


/* nav{
    display: inline-block
}
.navbar-brand{
    display: inline-block;
} */

.pie {
    background-color: #258da5;
}

.inner > a > p {
    margin: 0;
    text-align: right;
    text-decoration: none;
    color: white;
    font-size: 10px;
    padding: 0px 15px 10px 0;
}