/*
* Estilos do patrón Orestis replicado da web:
* https://codemyviews.com/blog/5-really-useful-responsive-web-design-patterns
* NOTA: o deseño da estructura HTML foi o que se copiou pero nin
* código HTML ou CSS foi copiado (e pegado), todo é de producción propia.
*/

/* Para os navegadores que non soportan HTML5: */
nav, header, aside, section, article, figure, figcaption, hgroup, footer {
    display: block;
}

* {
    margin: 0px;
    padding: 0px;
}

#siteContainer {
    width: 90%;
    font-size: 150%;
    box-sizing: border-box;
    margin: 2.5% auto;
}

#siteHeader {
    clear: both;
    overflow: hidden;
    border-bottom: 2px solid #000;
    padding-bottom: 1%;
}

#siteLogo {
    float: left;
}

#languages {
    float: right;
    width: 25%;
}

#languages ul {
    list-style: none;
}

#languages ul li {
    display: inline;
    padding: 0.5% 0.75%;
}

#whoWeAre {
    width: 75%;
    margin: 5% auto;
    text-align: center;
}

#whoWeAre p {
    margin: 0px;
    padding: 0px;
}

#workingAreas {
    text-align: center;
}

.workingArea {
    width: 30%;
    display: inline-block;
    font-family: monospace;
}

.workingArea img {
    display: block;
    width: 80%;
    margin: 0 auto;
}

.workingArea h3 {
    width: 100%;
    text-align: center;
    font-weight: bolder;
}

.workingArea .workingAreaDescription {
    width: 100%;
    text-align: left;
    font-size: 75%;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .workingArea {
        width: 100%;
        display: inline-block;
        font-family: monospace;
        overflow: hidden;
        margin-bottom: 3%;
    }
    
    .workingArea:nth-child(odd) img {
        /*display: inline-block;*/
        float: left;
        width: 25%;
    }
    
    .workingArea:nth-child(odd) h3 {
        float: right;
        width: 70%;
        margin-bottom: 1%;
    }
    
    .workingArea:nth-child(odd) .workingAreaDescription {
        float: right;
        width: 70%;
    }
    
    .workingArea:nth-child(even) img {
        /*display: inline-block;*/
        float: right;
        width: 25%;
    }
    
    .workingArea:nth-child(even) h3 {
        float: left;
        width: 70%;
        margin-bottom: 1%;
    }
    
    .workingArea:nth-child(even) .workingAreaDescription {
        float: left;
        width: 70%;
    }
}

@media screen and (min-width: 100px) and (max-width: 768px) {
    .workingArea {
        width: 100%;
        display: inline-block;
        font-family: monospace;
        margin-bottom: 3%;
    }
    
    .workingArea img {
        display: none;
    }
    
    .workingArea h3 {
        width: 100%;
        margin-bottom: 1%;
        text-align: center;
    }
    
    .workingArea .workingAreaDescription {
        width: 100%;
    }
}